*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:#80b4d3;
    font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
}
#menu-nav{
    width:100%;
    height:auto;
    font-size:14px;
}
.div-menu-nav{
    background: #026AA7;
    padding: 2px 8px;
    overflow:hidden;
    height:40px;
    position:relative;    
}

.div-menu-nav>ul{
    display: inline-block;
    padding-top:3px;
}

.div-menu-nav>ul>a{
    color:#f3f3f3;
    text-decoration:none;
    background-color:#4e97c2;
    padding:7px;
    line-heigth:6px;
    border-radius:5px;
    font-weight:bold;
}

.div-menu-nav ul:last-child{
    float:right;
}

.nav-tableros:before {
  content: "\eab3";
  font-family: 'icomoon';
  font-size:15px;
  color:white;
  font-weight: normal;
}

.div-menu-nav .nav-icono-trello{
    font-family: 'Pacifico', cursive;
    font-size:23px;
    color:#80b4d3;
    font-weight:normal;
    background:#026aa7;
    padding:0; 
 }

.nav-icono-trello:before{
    content: "\eab3";
    font-family: 'icomoon';
    font-size:20px;
    color:#80b4d3;
}

.nav-add:before{
    content: "\ea0a";
    font-family: 'icomoon';
    font-size:15px;
}

.nav-info:before{
    content: "\ea0c";
    font-family: 'icomoon';
    font-size:15px;
}

.nav-ring:before{
    content: "\f0a2";
    font-family: 'icomoon';
    font-size:15px;
}
#menu-nav .nav-user{
    width:32px;
    height:32px;
    border-radius:50px;
    color:black;
    background:#d6dadc;
    display:inline-block;
    text-align:center;
}
.div-menu-nav ul:last-child a{
    margin-left:5px;
}
/**icono centro trello***/
.div-menu-nav ul:first-child a:last-child{
    position:absolute;
    left:50%;
    top:0;
    margin-left:-30px;
}

/**********input nav*****/
.nav-input{
    background:#4e97c2;
    border-radius:5px;
    border:none;
    line-height:30px;
}

/***********segunda parte del menú***/
.div-menu-board{
  height:30px;
}

.div-menu-board a{
    text-decoration:none;
    color:#fff;
}

.icon-star::before{
     content: "\e9d7";
      font-family: 'icomoon';    
}

.private::before{
    content: "\e900";
    font-family: 'icomoon';
}

.show-menu::before{
    content: "\f141";
    font-family: 'icomoon';
    padding-right:5px;
}

/***desplazando el último elemento de la segunda lista****/

.div-menu-board a:last-child{
    float:right;
}

.div-menu-board>a{
    margin: 0 12px;
}

.div-menu-board{
    margin-top:10px;
}

.welcome-board{
    font-size:20px;
    font-weight:bold;
}

/**************SECCIÓN MAIN*******/
#main{
   padding: 30px 10px;
}

#box-main{
    width:100%;
    height:auto;
}

#input-main{ 
    width:280px;
    background:#026aa7;
    line-height:30px;
    border:none;
    border-radius:3px;
    padding:5px;
    cursor:pointer;
    vertical-align:top;
    margin-left:5px;
}

#input-main:hover{
    background:hsl(202,100%,25%);
}


:-ms-input-placeholder { color: #c7e5cf;}
::-webkit-input-placeholder { color: #c7e5cf;} 
::-moz-placeholder { color: #c7e5cf;}

/*******formulario*****/
.form1-style{
   width:280px;
   height:100px;
   border:none;
   border-radius:5px;
   background:#e2e4e6;
   display:inline-block;
   vertical-align:top;
   margin-left:5px;
}
.oculto{
  display:none;
}

/***********el input del form1*******/
.form1-input{
    line-height:30px;
    width:260px;
    border:none;
    border-radius:5px;
    margin-top:10px;
    margin-left:10px;
    padding:3px;   
}

.form1-button{
    border:none;
    background:#5aac44;
    color:#fff;
    font-weight:bold;
    width:70px;
    height:40px;
    border-radius:5px;
    margin-left:10px;
    margin-top:5px;
    cursor:pointer;
}

.span-form1{
    font-size:20px;
    font-weight:bold;
    margin-left:10px;
    padding-top:10px;
    color:#999999;
    cursor:pointer;
}

/*********agregado en js***/

.boxListStyle{
    width:280px;
    height:80px;
    display:inline-block;
    background:white;
    background:#e2e4e6;
    border-radius:5px;
    color:#b1b9c6;
    margin-left:5px;
    vertical-align:top;
}

.boxListHeaderStyle{
    height:40px;
    color:black;
    font-weight: bold;
    padding-top:10px;
    padding-left:3px;
}

.boxListContentStyle{
    height:40px;
    cursor:pointer;
}

.boxListContentStyle:hover{
     background:hsl(0,0%,60%);
}

.textAreaListStyle{
    width:260px;
    height:20px;
    font-size:13px;
}

.newDivStyle{
    line-height:30px;
    width:280px;
    height:40px;
    padding:3px;
    display:inline-block;
    color:#026aa7;
    background:#c6e7fb;
}

.newDivStyle:hover{
    background:#18bc9c;
}

.buttonListStyle{
    border:none;
    background:#5aac44;
    color:#fff;
    font-weight:bold;
    width:70px;
    height:40px;
    border-radius:5px;
    margin-left:10px;
    margin-top:5px;
    cursor:pointer;
}

.newStyleP{
    height:auto;
}

.divListStyle{
  width:280px;
  height:150px;
  background-color:white;
  display:inline-block;
}

.textAreaStyle{
    width:260px;
    height:90px;
    margin-top:5px;
    margin-left:10px;
}

.buttonDivListStyle{
    border:none;
    background:#5aac44;
    color:#fff;
    font-weight:bold;
    width:70px;
    height:40px;
    border-radius:5px;
    margin-left:10px;
    margin-top:5px;
    cursor:pointer;
}

.spanDivListStyle{
    font-size:20px;
    font-weight:bold;
    margin-left:10px;
    color:#999999;
    cursor:pointer; 
}

/* Estas se usaron en versiones anteriores
.alCostado{
  position:absolute;
  left:100%;
}
.press{
    width:50px;
    height:20px;
    background:red;
}
.ancorStyle{
    text-decoration:none;
    display:inline-block;
    margin-top:15px;
    margin-left:3px;
 
}
.ancorStyle:hover{
    text-decoration:underline;
    color:#fff;
    //cursor:pointer;
}
.noShowAncor{
    display:none;
}
.noShowDivList{
    display:none;
}
*/
